$header-horizontal-padding-desktop: 34px;
$header-horizontal-padding-tablet: 26px;
$header-horizontal-padding-mobile: 18px;

$content-horizontal-padding-desktop: 110px;
$content-horizontal-padding-tablet: 100px;
$content-horizontal-padding-mobile: 92px;

$bottom-horizontal-padding-desktop: 110px;
$bottom-horizontal-padding-tablet: 100px;
$bottom-horizontal-padding-mobile: 92px;